<%- include('../../shared/includes/head', { pageTitle: 'TUKU: ' + product.title }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header', {haveBackBtn: true}) %>
    <main id="product-details">
        <header>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            <div id="product-info">
                <h1><%= product.title %></h1>
                <p>
                    <% if (product.hasPromo === true) { %>
                        <s>NT$<%= product.originalPrice %></s>
                        NT$<%= product.price %>
                    <% } else { %>
                        NT$<%= product.price %>
                    <% } %>
                </p>
                <button class="btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">
                    <span class="lang-en">Add to Cart</span>
                    <span class="lang-id">Tambah ke Keranjang</span>
                </button>
            </div>
        </header>

        <h3 class="lang-en">Product Description:</h3>
        <h3 class="lang-id">Deskripsi Produk:</h3>
        <p id="product-description"><%= product.description %></p>
    </main>
<%- include('../../shared/includes/footer') %>